<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <!-- Included in the above SEO tag
  <title>{{ page.title | default: site.title }}</title>
  -->

  <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-B6RGNVJ1FG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B6RGNVJ1FG');
  </script>

  <!-- tablesorter -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.32.0/js/jquery.tablesorter.min.js"></script>
  <script>
    $(function() {
      $("table").tablesorter();
    });
    jQuery.tablesorter.addParser({
      id: "suffixedNumber",
      is: function(s) {
        return /[0-9]m$/.test(s);
      },
      format: function(s) {
        return jQuery.tablesorter.formatFloat(s.replace(/m$/, ''));
      },
      type: "numeric"
    });
  </script>
</head>

<body>

<header class="post-header">
  <div class="inner">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  </div>
</header>

<nav>
  <ul>
    <li>
      乃木恋
      <ul>
        <li><a href="{{ '/nogikoi/border_table.html' | relative_url }}">ボーダー 一覧表</a></li>
        <li><a href="{{ '/nogikoi/border_mean.html' | relative_url }}">ボーダー 平均値</a></li>
        <li><a href="{{ '/nogikoi/event.html' | relative_url }}">彼イベ走り方</a></li>
      </ul>
    </li>
    <li>
      乃木フェス
      <ul>
        <li><a href="{{ '/nogifes/border_table.html' | relative_url }}">ボーダー 一覧表</a></li>
        <li><a href="{{ '/nogifes/border_mean.html' | relative_url }}">ボーダー 平均値</a></li>
        <li><a href="{{ '/nogifes/event.html' | relative_url }}">イベント走り方</a></li>
        <li><a href="{{ '/nogifes/calc.html' | relative_url }}">ボーダー予測・必要石数計算</a></li>
      </ul>
    </li>
    <li>
      乃木フラ
      <ul>
        <li><a href="{{ '/nogifra/border_table.html' | relative_url }}">ボーダー 一覧表</a></li>
        <li><a href="{{ '/nogifra/border_mean.html' | relative_url }}">ボーダー 平均値</a></li>
        <li><a href="{{ '/nogifra/event.html' | relative_url }}">キミプロ走り方</a></li>
      </ul>
    </li>
  </ul>
</nav>

<main>

<h1>{{ page.title | default: site.title }}</h1>

{{ content }}

</main>

<footer>
  <div class="inner">
    <a href="{{ '/' | relative_url }}">トップページに戻る</a>
    <div>&copy; {{ site.copyright_year }} {{ site.author }}</div>
  </div>
</footer>

</body>
</html>
